				<div class="container" ng-controller='orderController'>
					<div class='drop_12'></div>
					<h3>Place an order</h3>
					<div class="half">
						<label>Customer</label>
						<select ng-model = "new_order.customer_name" required>
							<option value="">Please Select a Customer</option>
							<option ng-repeat="customer in customers | orderBy: 'name'" value="{{customer.name}}">{{customer.name}}</option>
						</select>
						<div class='clear'></div>
						<label>Product</label>
						<select ng-model="new_order.product_name" required>
							<option value="">Please Select a Product</option>
							<option ng-repeat="product in products | orderBy: 'name'" value="{{product.name}}">{{product.name}}</option>
						</select>
						<div class='clear'></div>
						<label>Quantity</label>
						<input type='number' ng-model="new_order.quantity" required min=1 step=1 />
						<button class="button add_button" ng-click="addOrder()">Place Order</button>
					</div><!--end of div half-->
					<div class="half">
						<div class='ilb error'>
							<p ng-repeat="error in errors | orderBy:'toString()'">{{ error }}</p>
						</div>
					</div><!--end of div half-->
					<div class='clear'></div>
					<div class='drop_12'></div>
					<h3 class='left'>Current Orders</h3>
					<input type='text' class='right' id='search' placeholder='search by customer or product name...'  ng-model="searchText" />
					<div class='clear'></div>
					<table id='table'>
						<thead>
							<tr class='zebra1' >
								<th class='wide_cell'>Customer Name</th>
								<th class='wide_cell'>Product</th>
								<th class='narrow_cell text_right'>Quantity</th>
								<th class='med_cell'>Date</th>
								<th class='narrow_cell'>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in orders | filter:searchText | orderBy:'created':reverse=true" class='zebra{{ $index%2 }}'>
								<td>{{order.customer_name}}</td>
								<td>{{order.product_name}}</td>
								<td class='text_right'>{{order.quantity}}</td>
								<td>{{order.created | date:'yyyy-MM-dd'}}</td>
								<td><button class='button delete_button' ng-click="removeOrder(order._id)">Remove</button></td>
							</tr>
						</tbody>
					</table>
				</div>
