* h1, h2, h3, h4, h5, h6, p, a, form, input, button, table, td, th{
	margin:2px;
	padding:2px;
	border:0;
}

* ul, li{
	margin:0;
	padding:0;
	border:0;
}

body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:blue;
	width:900px;
	margin:6px auto;
	overflow-y: scroll;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

.half{
	width:450px;
	float:left;
}

.drop_12{
	padding:12px 0px;
}

.error{
	color:red;
	font-weight: bolder;
	height:18px;
}

.ilb{
	display: inline-block;
}

label{
	width:110px;
	margin-left: 12px;
	display: inline-block;
	text-align: right;
}

table{
	border-collapse: collapse;
	text-align: left;
	border: 2px solid rgba(0,183,255,.25);
	box-shadow: 2px 2px 4px rgba(0,183,255,.1);
}

table th, table td{
	padding:0px 12px;
}

table tr{
	height: 28px;
}

.menu li{
	list-style-type: none;
	padding:0px 16px 0px 0px;
	float:left;
	color: #00B7FF;
}

.menu a{
	color: #00B7FF;
}

.menu .active a{
	color:blue;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.menu a{
	text-decoration: none;
}

#welcome{
	color: rgba(0,183,255,.5);
	font-size: 48px;
	font-style: italic;
	margin: 48px 144px;
}

input, select{
	color: blue;
	border:1px solid #00B7FF;
	margin-right:4px;
}

input{
	width:200px;
	margin-left:0px;
}

select{
	width:205px;
}

#search{
	width:250px;
	margin-right:0;
	padding-right:0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(0,183,255,.5);
    text-align: right;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(0,183,255,.5);
    text-align: right;
    /*opacity:  1;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(0,183,255,.5);
    text-align: right;
    /*opacity:  1;*/
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(0,183,255,.5);
    text-align: right;
}

.wide_cell{
	width:250px;
}
.med_cell{
	width:160px;
}
.narrow_cell{
	width:70px;
}
.text_right{
	text-align: right;
}
.zebra0{
	background-color: rgba(0,183,255,.1);
	border:1px black;
}
.zebra1{
	background-color: rgba(0,183,255,.25);
	/*border:1px solid black;*/
}

.button{
	color:white;
	font-weight: bolder;
	border:1px solid blue;
	box-shadow: 1px 1px 1px blue;
}

.delete_button{
	background-color: red;
}

.add_button{
	background-color: #00B7FF;
}